*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/notas.md

# Ficheiros e imagens de demonstra√ß√£o (n√£o versionados no Git)
MockDataInjector.kt
/app/src/main/assets/demo_images/
implementation_plan.md
# Ignorar ficheiros de configuraÁ„o local do Android Studio
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
